.symbol{
  position: absolute;
  width: 100px;
  height: 100px;
}

.row1{
  top: 10px;
}

.row2{
  top: 130px;
}

.row3{
  top: 250px;
}

.col1{
  margin-left: -170px;
}

.col2{
  margin-left: -50px;
}

.col3{
  margin-left: 70px;
}

.resetButt{
  margin-top: 360px;
}

body {
  background-color: crimson;
}
