.symbol{
  position: absolute;
  width: 100px;
  height: 100px;
}

.row1{
  top: 10px;
}

.row2{
  top: 130px;
}

.row3{
  top: 260px;
}

.col1{
  margin-left: -177px;
}

.col2{
  margin-left: -55px;
}

.col3{
  margin-left: 76px;
}

body {
  background-color: crimson;
}